@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
font-family: "markmywords";
src: url("../font/mark_my_words/mark_my_words.otf") format("opentype"),
    url("../font/mark_my_words/mark_my_words.ttf") format("truetype");
}

@font-face {
font-family: "metropolis";
src: url("../font/metropolis/Metropolis-Regular.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Thin.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Light.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Medium.otf") format("opentype"),
    url("../font/metropolis/Metropolis-ExtraLight.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Bold.otf") format("opentype");
}

/*reset*/
*{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif; hyphens:none; word-break:keep-all;}
html{overflow-x:hidden;}
body{margin:0; padding:0;}
a{text-decoration:none; color:rgba(0,0,0,1);}
ul, li{list-style:none;}
p, span, h1, h2, h3{margin:0; padding:0;}
img{width: 100%;}
/*reset end*/

.fix_width{width:1280px; margin:0 auto;}
.clearfix::after {content:""; clear:both; display:table;}

/*---------------------------------------------------------*/
/*box1 START*/ /*subin*/
.box1{width:100%; height:155px; position:relative;}
.box1 .logo{width:210px; height:71px; float:left; position:absolute; left:100px; top:46px; background-image:url(../img/logo.png); background-repeat:no-repeat; background-size:cover; cursor:pointer;}
.box1 .menu{padding-right:100px; padding-top:71px;}
.box1 .menu li{float:right; font-size:24px; line-height:24px; margin-left:90px; font-weight:bold; cursor:pointer; opacity:0.8;}
.box1 .menu li:hover{opacity:1;}
.box1 .menu li:nth-child(4){margin-left:0;}
.box1 .menu:after{content:""; display:block; clear:both;}/*clearfix*/
/*box1 END*/
/*---------------------------------------------------------*/
/*box2 START*/ /*subin*/
.box2{background:#0600ff;}
/*box2 END*/
/*---------------------------------------------------------*/
/*box3 START*/ /*yeeun*/
.box3{
    text-align: center;
}

.box3 .academy_header{
    width: 360px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.box3 .academy_text{
    font-size: 19px;
    line-height: 1.88;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.box3 .academy_session{
    width: 100%;
    position: relative;
}

.box3 .academy_session .acd_session{
    width: 33.3333%;
    float: left;
}

.box3 .academy_session .acd_session .acd_img{
    background: #000000;
}

.box3 .academy_session .acd_session .acd_txt{
    background: #0600ff;
    text-align: left;
    color: #ffffff; 
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_subtitle{
  font-size: 24px;
    font-family: 'metropolis';
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_title{
  font-size: 30px;
  font-weight: 900;
  line-height: 1.25; 
}


/*box3 END*/
/*---------------------------------------------------------*/
/*box4 START*/ /*yeeun*/
.box4{background:#000000;}
/*box4 END*/
/*---------------------------------------------------------*/
/*box5 START*/ /*subin*/
.box5{background:#0600ff;}
.box5 .title{width:58%; margin:0 auto; font-size:150.5px; line-height:150.5px; background:red; color:#fff; text-align:center; font-family:'markmywords'; border-bottom:46px solid #00ff00;}

/*box5 END*/
/*---------------------------------------------------------*/
/*box6 START*/ /*subin*/
.box6{background:#0600ff;}
/*box6 END*/
/*---------------------------------------------------------*/
/*box7 START*/ /*yeeun*/
.box7{background:#000000;}
/*box7 END*/
/*---------------------------------------------------------*/