@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
font-family: 'markmywords';
src: url("../font/mark_my_words/mark_my_words.otf") format("opentype"),
    url("../font/mark_my_words/mark_my_words.ttf") format("truetype");
}

@font-face {
font-family: 'metropolis';
src: url("../font/metropolis/Metropolis-Regular.otf") format("opentype");
}

@font-face {
font-family: 'metropolis-light';
src: url("../font/metropolis/Metropolis-Light.otf") format("opentype");
}

/*reset*/
*{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif; hyphens:none; word-break:keep-all;}
html{overflow-x:hidden;}
body{margin:0; padding:0; position:relative;}
a{text-decoration:none; color:rgba(0,0,0,1);}
ul, li{list-style:none;}
p, span, h1, h2, h3{margin:0; padding:0;}
img{width: 100%;}
/*reset end*/
/*---------------------------------------------------------*/
.fix_width{width:1000px; margin:0 auto;}
.highlight{font-weight:bold;}
.content p{color:#fff; font-size:19px; line-height:1.88;}/*본문*/
.clearfix::after {content:""; clear:both; display:block;}
/*---------------------------------------------------------*/
/*box0 START*/ /*side nav*/
.box0{position:absolute; top:0px; right:80px; z-index:9999;}
.box0 .nav_wrap{width:55px; position:fixed;}
.box0 .nav_wrap .btn2{margin-top:5px; cursor:pointer;}
/*---------------------------------------------------------*/
/*box1 START*/ /*subin*/
.box1{width:100%; height:120px; position:relative;}
.box1 .logo{width:170px; float:left; position:absolute; left:100px; top:32px; cursor:pointer;}
.box1 .menu{padding-right:100px; padding-top:50px;}
.box1 .menu li{float:right; font-size:20px; line-height:20px; margin-left:60px; font-weight:bold; cursor:pointer; opacity:0.8;}
.box1 .menu li:hover{opacity:1;}
.box1 .menu li:nth-child(4){margin-left:0;}
.box1 .menu:after{content:""; display:block; clear:both;}/*clearfix*/
/*box1 END*/
/*---------------------------------------------------------*/
/*box2 START*/ /*subin*/
.box2{background:#0600ff;}
.box2 .slider{width:100%;}
.box2 .slider li{height:600px; background:#000;}

.box2 .slider li p{width:50%; height:600px; background:blue; position:relative;}
.box2 .slider li p img{width:360px; position:absolute; top:150px; left:50%; margin-left:-180px;}
/*box2 END*/
/*---------------------------------------------------------*/
/*box3 START*/ /*yeeun*/
.box3{
    height: auto;
    text-align: center;
    padding: 100px 0;
}

.box3 .academy_header{
    width: 360px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.box3 .academy_text{
    font-size: 19px;
    line-height: 1.88;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.box3 .academy_session{
    width: 100%;
}

.box3 .academy_session .acd_session{
    width: 33.3333%;
    float: left;
}

.box3 .academy_session .acd_session .acd_ss{
    padding-right: 10px;
}

.box3 .academy_session .acd_session:last-of-type .acd_ss{
    padding-right: 0;
}

.box3 .academy_session .acd_session .acd_img{
    background: #000000;
    width: 100%;
    height: 320px;
}

.box3 .academy_session .acd_session .acd_txt{
    background: #0600ff;
    text-align: left;
    color: #ffffff; 
    padding: 30px 30px 40px;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_subtitle{
    font-family: 'metropolis-light';
    font-size: 16px;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_title{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 40px;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_description{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
}


/*box3 END*/
/*---------------------------------------------------------*/
/*box4 START*/ /*yeeun*/
.box4{
    background:#000000;
    color: #ffffff;
    padding: 100px 0 70px;
}

.box4 .instructor_wrap .title{
    text-align: center;
    margin-bottom: 100px;
}

.box4 .instructor_wrap .title p{
    font-family: 'markmywords';
    font-size: 50px;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 15px solid #00ff00;
}

.box4 .instructor_wrap .instr_slider{
    background: none;
    border: none;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content{
    margin: 0 auto;  
    width: 400px;
    padding: 0px 30px 40px;
    margin-bottom: 30px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_img{
    background: #a0a0a0;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_text{
    padding: 0 30px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_subtitle{
    font-family: 'metropolis-light';
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_name{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 30px;    
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_description{
    width: 360px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;    
}



/*box4 END*/
/*---------------------------------------------------------*/
/*box5 START*/ /*subin*/
.box5{background:#0600ff;}
.box5 .title{width:400px; margin:0 auto; font-size:80px; line-height:90px; color:#fff; text-align:center; font-family:'markmywords'; border-bottom:26px solid #00ff00; padding-top:150px; margin-bottom:70px;}
.box5 .poster{width:800px; margin:0 auto;}
.box5 .sub_title{width:800px; margin:0 auto;}
.box5 .sub_title p{font-family:'metropolis'; letter-spacing:5px; font-size:25px; color:#fff; padding:70px 0 10px 0;}
.box5 .sub_title h3{font-size:42px; line-height:52px; color:#fff; font-weight:bold; padding-bottom:55px; border-bottom:2px solid #00ff00;}
.box5 .content{width:800px; margin:70px auto 0 auto;}
.box5 .content .txt{opacity:0.8;}
.box5 .content .txt2{margin-top:28px;}

/*box5 END*/
/*---------------------------------------------------------*/
/*box6 START*/ /*subin*/
.box6{background:#0600ff; padding:90px 0 180px 0;}
.box6 .aco{width:800px; margin:0 auto; padding:30px 0; border-bottom:1px solid #fff; overflow:hidden;}
.box6 .aco p{font-size:19px; color:#fff; line-height:1.88;}
.box6 .aco .highlight{position:relative; cursor:pointer;}
.box6 .aco .txt{transform:scaleY(0%); height:0px; opacity:0;}
.box6 .aco p span{width:20px; height:20px; display:block; background-image:url(../img/icon_plus.png); background-repeat:no-repeat; background-size:cover; position:absolute; top:7px; right:0;}

.box6 .content{width:800px; margin:0 auto; padding:130px 0 50px 0;}
.box6 .content .txt{opacity:0.8;}
.box6 .regis{width:800px; margin:30px auto 0 auto;}
.box6 .regis a{width:200px; background:#00ff00; display:block; font-size:20px; font-weight:bold; padding:20px 50px; text-align:center;}
#map{width:800px; height:400px; margin:0 auto;}

/*box6 END*/
/*---------------------------------------------------------*/
/*box7 START*/ /*yeeun*/
.box7{
    background:#000000;
    color: #ffffff;
}

.box7 .txt_en{
    font-family: 'metropolis-light';
    letter-spacing: 1px;
}

.box7 > div{
    padding: 15px 0;
}

.box7 .footer_top{  
    padding: 50px 0 200px;
}

.box7 .footer_top .footer_content{
    width: 25%;
    float: left;
    font-size: 13px;
}

.box7 a{
    color: #999999;
}

.box7 .footer_top .footer_content p{
    margin-bottom: 10px;
}

.box7 .footer_top .footer_content p.footer_text{
    color: #999999;
}

.box7 .footer_top .footer_content p:hover{
    cursor: pointer;
}

.box7 .footer_top .footer_content p:not(.nonhover):hover,
.box7 .footer_copy .copy_content p:hover,
.box7 .footer_bottom .bottom_content .highlight:hover{
    color: #00ff00;
    cursor: pointer;
}

.box7 .footer_top .footer_content .family a,
.box7 .footer_top .footer_content .social a{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    opacity: 0.5;
    
    background: #ffffff;
    border-radius: 100px;
}

.box7 .footer_top .footer_content .family a:hover,
.box7 .footer_top .footer_content .social a:hover{
    opacity: 1;
}

.box7 .footer_copy{
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.box7 .footer_copy .copy_nation{
    float: left;
    padding: 0 30px;
    width: 80px;
}

.box7 .footer_copy .copy_nation .flag{
    float: left;
    width: 20px;
    height: 15px;
    background: url('../img/ko_flag.png') center center no-repeat;
    background-size: contain;
    margin-right: 5px;
    margin-top: 2px;
}

.box7 .footer_copy .copy_nation .nation{
    font-size: 12px;
}

.box7 .footer_copy .copy_right{
    float: left;
    font-size: 12px;
    color: #999999;
}

.box7 .footer_copy .copy_content{
    float: right;
    font-size: 12px;
    padding: 0 10px;
}

.box7 .footer_copy .copy_content p{
    display: inline-block;
    margin-right: 20px;
}

.box7 .footer_bottom .bottom_content{
    float: left;
    width: 45%;
}

.box7 .footer_bottom .bottom_content:last-of-type{
    float: right;
}

.box7 .footer_bottom .bottom_content p{
    font-size: 12px;
    color: #999999;
    line-height: 1.88;
}

.box7 .footer_bottom .bottom_content .highlight{
    color: #ffffff;
    font-weight: 300;
}

.box7 .footer_bottom .bottom_content .under{
    border-bottom: 1px solid;
}

/*box7 END*/
/*---------------------------------------------------------*/