@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
font-family: 'markmywords';
src: url("../font/mark_my_words/mark_my_words.otf") format("opentype"),
    url("../font/mark_my_words/mark_my_words.ttf") format("truetype");
}

@font-face {
font-family: 'metropolis';
src: url("../font/metropolis/Metropolis-Regular.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Regular.woff") format("woff");
}

@font-face {
font-family: 'metropolis-light';
src: url("../font/metropolis/Metropolis-Light.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Light.woff") format("woff");
}

@font-face {
font-family: 'metropolis-bold';
src: url("../font/metropolis/Metropolis-Bold.otf") format("opentype"),
    url("../font/metropolis/Metropolis-Bold.woff") format("woff");
}

@font-face{
font-family : 'metropolis-ie';
src: url("../font/metropolis/Metropolis-Regular.eot?") format("eot");
}

@font-face{
font-family : 'metropolis-light-ie';
src: url("../font/metropolis/Metropolis-Light.eot?") format("eot");
}

@font-face{
font-family : 'metropolis-bold-ie';
src: url("../font/metropolis/Metropolis-Bold.eot?") format("eot");
}

/*reset*/
*{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif; hyphens:none; word-break:keep-all;}
html{overflow-x:hidden;}
body{margin:0; padding:0; position:relative;}
a{text-decoration:none; color:rgba(0,0,0,1);}
ul, li{list-style:none;}
p, span, h1, h2, h3{margin:0; padding:0;}
img{width: 100%;}
/*reset end*/
/*---------------------------------------------------------*/
.fix_width{width:85.5%; margin:0 auto;}
.highlight{font-weight:bold;}
.content p{color:#fff; font-size:18px; line-height:1.72;}/*본문*/
.clearfix::after {content:""; clear:both; display:block;}
/*---------------------------------------------------------*/
/*box0 START*/ /*side nav*/
.box0{position:absolute; top:0px; right:0px; z-index:9997;}
.box0 .nav_wrap{width:55px; position:fixed;}
.box0 .nav_wrap .btn2{margin-top:5px; cursor:pointer;}
/*---------------------------------------------------------*/
/*box1 START*/ /*subin*/
.box1{width:100%; height:75px; position:fixed; background:#fff; z-index:9998;}
.box1 .m_header{position:relative;}
.box1 .m_header .logo{width:100px; position:absolute; left:30px; top:22px; cursor:pointer;}
.box1 .m_header .ham_icon{width:20px; position:absolute; right:30px; top:25px; cursor:pointer;}

.box1 .ham_wrap{position:fixed; width:100vw; height:100vh; z-index:9998; overflow:hidden; background:blue; margin-left:100vw;}
.box1 .ham_wrap .header{height:75px; position:relative;}
.box1 .ham_wrap .header li:nth-child(1){width:100px; position:absolute; left:0px; top:22px; cursor:pointer;}
.box1 .ham_wrap .header li:nth-child(2){width:30px; position:absolute; right:0px; top:23px; cursor:pointer;}
.box1 .ham_wrap .menu{padding-top:50px;}
.box1 .ham_wrap .menu li{font-size:40px; line-height:40px; font-family:'metropolis-black'; color:#fff; padding:12px 0; cursor:pointer;}
.box1 .ham_wrap .image{margin-top:-35px; height:355px; background-image:url(../img/ham_menu.jpg); background-repeat:no-repeat; background-size:cover; background-position:0 60%;}
/*box1 END*/
/*---------------------------------------------------------*/
/*box2 START*/ /*subin*/
.box2{background:#0600ff; padding-top:75px;}
.box2 .slider{width:100%;}
.box2 .slider li{height:700px;}

.box2 .slider li .left{width:100%; height:350px; background:blue; position:relative;}
.box2 .slider li .left img{position:absolute; left:50%;}
/*left slogan*/
.box2 .slider li .left1 img{width:260px; top:65px; margin-left:-130px;}
.box2 .slider li .left2 img{width:220px; top:135px; margin-left:-110px;}
.box2 .slider li .left3 img{width:180px; top:53px; margin-left:-90px;}

/*right banner image*/
.box2 .slider .bans .right{width:100%; height:350px;}
.box2 .slider .ban1 .right{background-image:url(../img/ban1.png); background-repeat:no-repeat; background-size:cover;}
.box2 .slider .ban2 .right{background-image:url(../img/ban2.png); background-repeat:no-repeat; background-size:cover;}
.box2 .slider .ban3 .right{background-image:url(../img/ban3.png); background-repeat:no-repeat; background-size:cover;}
.box2 .slider .ban4 .right{background-image:url(../img/ban4.png); background-repeat:no-repeat; background-size:cover;}
.box2 .slider .ban5 .right{background-image:url(../img/ban5.png); background-repeat:no-repeat; background-size:cover;}

/*box2 END*/
/*---------------------------------------------------------*/
/*box3 START*/ /*yeeun*/
.box3{
    height: auto;
    text-align: center;
    padding: 5em 0;
}

.box3 .academy_header{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.box3 .academy_text{
    text-align: left;
    font-size: 18px;
    line-height: 1.72;
    margin: 0 auto;
    margin-bottom: 3em;
}

.box3 .academy_session{
    width: 100%;
}

.box3 .academy_session .acd_session{
    width: 100%;
}

.box3 .academy_session .acd_session .acd_ss{
    margin-bottom: 30px;
}

.box3 .academy_session .acd_session:last-of-type .acd_ss{
    margin-bottom: 0;
}

.box3 .academy_session .acd_session .acd_img{
    width: 100%;
    height: 210px;
}

.box3 .academy_session .acd_session .aca1{
    background: url("../img/aca1.png") no-repeat;
    background-size: cover;
    background-position: top;
}

.box3 .academy_session .acd_session .aca2{
    background: url("../img/aca2.png") no-repeat;
    background-size: 130%;
    background-position: 50% 30%;
}

.box3 .academy_session .acd_session .aca3{
    background: url("../img/aca3.png") no-repeat;
    background-size: 105%;
    background-position: 50% 15%;
}

.box3 .academy_session .acd_session .acd_txt{
    background: #0600ff;
    text-align: left;
    color: #ffffff; 
    padding: 30px 30px 40px;
}

.box3 .academy_session .acd_session .acd_txt{
    background: #0600ff;
    text-align: left;
    color: #ffffff; 
/*    padding: 30px 20px 40px;*/
    padding: 1.4em 1.2em;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_subtitle{
    font-family: 'metropolis-light';
    font-size: 16px;
    letter-spacing: 1.4px;
    margin-bottom: 4px;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_title{
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 1.1em;
}

.box3 .academy_session .acd_session .acd_txt .acd_txt_description{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
/*box3 END*/
/*---------------------------------------------------------*/
/*box4 START*/ /*yeeun*/
.box4{
    background:#000000;
    color: #ffffff;
    padding: 5em 0 2em 0;
}

.box4 .instructor_wrap .title{
    text-align: center;
    margin-bottom: 3em;
}

.box4 .instructor_wrap .title p{
    font-family: 'markmywords';
    font-size: 36px;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 12px solid #00ff00;
}

.box4 .instructor_wrap .instr_slider{
    background: none;
    border: none;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content{
    margin: 0 auto;
    margin-bottom: 1em;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_img{
    margin: 0 auto;
    width: 100%;
    height: 320px;
    margin-bottom: 1.1em;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr1{
    background: url("../img/instr1.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr2{
    background: url("../img/instr2.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr3{
    background: url("../img/instr3.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr4{
    background: url("../img/instr4.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr5{
    background: url("../img/instr5.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr6{
    background: url("../img/instr6.png") no-repeat;
    background-size: cover;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_text{
    padding: 1.4em 1.4em;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_subtitle{
    font-family: 'metropolis-light';
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_name{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4; 
    margin-bottom: 1em;    
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_slogan{
    font-family: 'metropolis-light';
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_summary{
    font-weight: bold;
    margin-bottom: 1.2em;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.box4 .instructor_wrap .instr_slider .instr_wrap .instr_content .instr_description{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;    
}

.slick-dots li button,
.slick-dots li{
    width: 8px;
    height: 8px;
}

/*box4 END*/
/*---------------------------------------------------------*/
/*box5 START*/ /*subin*/
.box5{background:#0600ff;}
.box5 .title{width:60%; margin:0 auto; font-size:47px; line-height:57px; color:#fff; text-align:center; font-family:'markmywords'; border-bottom:26px solid #00ff00; padding-top:70px; margin-bottom:40px;}
.box5 .sub_title p{font-family:'metropolis'; letter-spacing:3px; font-size:17px; color:#fff; padding:40px 0 10px 0;}
.box5 .sub_title h3{font-size:38px; line-height:47px; color:#fff; font-weight:bold; padding-bottom:25px; border-bottom:2px solid #00ff00;}
.box5 .content{margin:34px auto 0 auto;}
.box5 .content .txt{opacity:0.8;}
.box5 .content .txt2{margin-top:25px;}
/*box5 END*/
/*---------------------------------------------------------*/
/*box6 START*/ /*subin*/
.box6{background:#0600ff; padding:50px 0 100px 0;}
.box6 .aco{padding:20px 0; border-bottom:1px solid #fff; overflow:hidden;}
.box6 .aco p{font-size:15px; color:#fff; line-height:1.78;}
.box6 .aco .highlight{position:relative; cursor:pointer;}
.box6 .aco .txt{transform:scaleY(0%); height:0px; opacity:0;}
.box6 .aco p span{width:15px; height:15px; display:block; background-image:url(../img/icon_plus.png); background-repeat:no-repeat; background-size:cover; position:absolute; top:6px; right:0;}

.box6 .content{padding:50px 0 20px 0;}
.box6 .content .txt{opacity:0.8;}
.box6 .regis{margin:30px auto 0 auto;}
.box6 .regis a{width:100%; background:#00ff00; display:block; font-size:20px; font-weight:bold; padding:20px 0px; text-align:center;}
#map{height:250px; margin:0 auto;}

/*box6 END*/
/*---------------------------------------------------------*/
/*box7 START*/ /*yeeun*/
.box7{
    background:#000000;
    color: #ffffff;
}

.footer_wrap{
    padding: 2em 0;
}

.box7 p{
    font-size: 16px;
    line-height: 1.7;  
}

.box7 a, .box7 p{
    color: #ffffff;
}

.box7 p.footer_text{
    color: #999999;
}

.box7 p.footer_text span{
    color: #fff;
    display:block;
    padding-top:20px;
}

.box7 .txt_en{
    font-family: 'metropolis-light';
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.4;
}

.box7 p.footer_num{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.box7 .footer_wrap > div:not(.nonborder){
    padding: 1.4em 0;
    border-bottom: 1px solid #999999;
}

.box7 .footer_wrap .footer_notice a{
    display: block;
    margin-bottom: 0.5em;
}

.box7 .footer_wrap .footer_notice .footer_text{
    font-size: 14px;
    line-height: 1.6;
}

.box7 .footer_wrap .footer_aco_wrap .footer_aco{
    position: relative;
    border-bottom: 1px solid #999999;
}

.box7 .footer_wrap .footer_aco_wrap .footer_aco .aco_title{
    display: block;
    padding: 1em 0;
}

.box7 .footer_wrap .footer_aco_wrap .footer_aco .aco_title:after{
    width: 15px;
    height: 15px; 
    content:"";
    background: url('../img/icon_plus.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 23px;
    right: 0;
}

.box7 .footer_wrap .footer_aco_wrap .footer_aco .aco_title.active:after{
    background: url('../img/icon_minus.png') center center no-repeat;
    background-size: cover;
}

.box7 .footer_wrap .footer_aco_wrap .aco_panel{
    display: none;
    overflow: hidden;
}

.box7 .footer_wrap .footer_aco_wrap .aco_panel p{
    padding: 0 0 1.4em;   
}

.box7 .footer_wrap .footer_aco_wrap .footer_aco .aco_panel .aco_txt{
    color: #999999;
    font-size : 14px;
}

.box7 .footer_wrap .footer_info .info_txt{
    font-size: 10px;
}

.box7 .footer_wrap .footer_info .info_txt span{
    font-size: 14px;
}

.box7 .footer_wrap .footer_social .social_content:first-of-type{
    margin-bottom: 1em;
}

.box7 .footer_wrap .footer_social .social_content div a{    
    display: inline-block;
    margin-right: 1em;
}

.box7 .footer_wrap .footer_social .social_content div p{
    font-family: 'metropolis-black';
    font-size: 19px;
}

.box7 .footer_wrap .copy_right{ 
    padding: 0.9em 0;
}

.box7 .footer_wrap .copy_right p{
    font-size: 12px;
}


/*box7 END*/
/*---------------------------------------------------------*/